//Dark-mode
    //Bakgrunder och text
    body.dark-mode {
        background-color: $bgBodyDark  ; 
        color: $textColorDark;
    }
    main.dark-mode {
        background-color: $bgMainDark; 
    }

    // Mörk kant 
    fieldset.dark-mode {
        border-color: $fieldsetBorderDark;
    }
