// Variables

    //Fonts
        //$mainFont: "Fauna, serif";
        //$headingFont: "Cinzel, serif";
   
    //Färger
        // Färger light-mode (default)
            //Bakgrunder
            $bgBody: #1c7079;
            $bgMain: #EBEAE7;
            //Text
            $h1Color: #a92525;
            $textColor: #171719;
            //Knappar
            $buttonTextColor:#e5e3e8 ;
            $buttonColor: #0b7274;
            $buttonHover: #0e4c58;
            $buttonDisabled: #817c87;
            //formulär
            $legendColor: #a92525;
            $fieldsetBorder: #be7612;
            $accentColor: #088e93; 

            $decoColor: #be7612;
        //Färger dark-mode
            //Bakgrunder
            $bgBodyDark: #232f44;
            $bgMainDark: #111927;
            //Text
            $headingColorDark: #a92525;
            $textColorDark: #c0bec1;
            //Formulär
            $fieldsetBorderDark: rgb(140, 19, 19);