// Variables

    //Fonts
        //$mainFont: "Fauna, serif";
        //$headingFont: "Cinzel, serif";
   
    //Färger
        // Färger light-mode (default)
            //Bakgrunder
            $bgBody: #1b5a63;
            $bgMain: #9abab8;
            //Text
            $headingColor: #97291d;
            $textColor: #171719;
            //Knappar
            $buttonTextColor:#e5e3e8 ;
            $buttonColor: #094440;
            $buttonHover: #093a44;
            $buttonDisabled: #817c87;
            //formulär
            $legendColor: #8b271c;
            $fieldsetBorder: #95770a;
            $accentColor: #088e93; 

        //Färger dark-mode
            //Bakgrunder
            $bgBodyDark: #111927;
            $bgMainDark: #1a263a;
            //Text
            $headingColorDark: darkred;
            $textColorDark: #c0bec1;
            //Formulär
            $fieldsetBorderDark: #792427;