// Variables

    //Fonts
     $mainFont: "Fauna, serif";
    $headingFont: "Cinzel, serif";
   
    //Färger
        //Result-färger
        $resultRed: #e74c3c;
        $resultOrange: #ff952a;
        $resultGreen: #72ca15;

        // Färger light-mode (default)
        $bgBody: #2c3e50;
        $bgMain: #34495e;

        $headingColor: #e74c3c;
        $textColor: #1c1c23;

        $buttonTextColor:#d1ced5 ;
        $buttonColor: #075e5d;
        $buttonHover: #054a49;
        $buttonDisabled: #817c87;

        $legendColor: #e74c3c;
        $fieldsetBorder: #000;

        //Färger dark-mode

        $bgBodyDark: #111927;
        $bgMainDark: #111927;

        $headingColorDark: darkred;
        $textColorDark: #d1ced5;

       // $buttonTextColorDark: #fff;
        //$buttonColorDark: #fff;
        //$buttonHoverDark: #fff;
        //$buttondisabledDark: #fff;

        $legendColorDark: #e74c3c;
        $fieldsetBorderDark: #792427;


